//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
h3 Registered Vehicles
table.table.table-striped.table-bordered
  thead
    tr
      th(style='text-align: center;') Name
      th(style='text-align: center;') Company
      th(style='text-align: center;') Engine number
      th(style='text-align: center;') Color
      th(style='text-align: center;') Type
      th(style='text-align: center;') Owner
      th(style='text-align: center;') Mobile
      th(style='text-align: center;') Address
      
  tbody
    tr
      td(style='text-align: center;') A
      td(style='text-align: center;') B
      td(style='text-align: center;') C
      td(style='text-align: center;') D
      td(style='text-align: center;') E
      td(style='text-align: center;') F
      td(style='text-align: center;') G
      td(style='text-align: center;') H
    tr
      td(style='text-align: center;') A
      td(style='text-align: center;') B
      td(style='text-align: center;') C
      td(style='text-align: center;') D
      td(style='text-align: center;') E
      td(style='text-align: center;') F
      td(style='text-align: center;') G
      td(style='text-align: center;') H
    tr
      td(style='text-align: center;') A
      td(style='text-align: center;') B
      td(style='text-align: center;') C
      td(style='text-align: center;') D
      td(style='text-align: center;') E
      td(style='text-align: center;') F
      td(style='text-align: center;') G
      td(style='text-align: center;') H
br
