<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
    <body>
      <div>
      <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
             <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about">About us</a></li> -->
            <li class="active"><a href="/upload">Upload Status<span class="sr-only">(current)</span></a></li>
          </ul>
    </nav>
    </div>
      <br/>
      <form action="/" method="POST" data-remote="true" class="form-horizontal" role="form" style="width: 50%;">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Vehicle ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="access_token" name="access_token" placeholder="Access Token" value="337f890409db71492a5e0e5685b0c678">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Lattitude</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="lattitude" name="lattitude" placeholder="Lattitude" value="123">
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Longitude</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" rows="4" id="longitude" name="longitude" placeholder="Longitude" value="456">
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
            </div>
        </div> -->
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2 error">
                <! Will be used to display an alert to the user>
            </div>
        </div>
    </form>
      </div>
    </body>
    </html>